#nav-holder{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    top: 10px;
    left: 250px;

    h1{
        -webkit-text-stroke: white .5px;
        position: fixed;
        top: 10px;
        left: 20px;
    }

nav{

    span{
        color: white;
        font-size: 20px;
    }

    a{
        text-decoration: none;
        color: black;
        -webkit-text-stroke: white .5px; 
        font-size: 30px;
    }

}
}